@model TechStore.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <h3 class="text-center">Chỉnh sửa sản phẩm</h3>
    <!--Thông báo lỗi-->
    @if (ViewBag.Loi != null)
            {
                <span>@ViewBag.Loi</span>
            }
    <div class="card mt-4">
        <div class="card-body">
            <h4>Product</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Images/@Model.ImagePro" class="img-fluid" />
                </div>
                <div class="col-md-8">
                    @using (Html.BeginForm("Edit", "Product", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ProductID)
                        <div class="form-group">
                            @Html.LabelFor(model => model.NamePro)
                            @Html.EditorFor(model => model.NamePro, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NamePro, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DecriptionPro)
                            @Html.TextAreaFor(model => model.DecriptionPro, new { @class = "form-control form-control-lg", rows = 5 })
                            @Html.ValidationMessageFor(model => model.DecriptionPro, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Price)
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Category1.NameCate)
                            @Html.EditorFor(model => model.Category1.NameCate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Category1.NameCate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Chọn hình</label>
                            <input type="file" name="ImagePro" class="form-control" />
                        </div>
                        <hr/>
                        <div class="form-actions">
                            <input type="submit" value="Lưu" class="btn btn-success" /> |
                            @Html.ActionLink("Quay lại trang trước", "Index", "", htmlAttributes: new { @class = "btn btn-secondary" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>