@model TechStore.Models.OrderPro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Chi tiết đơn hàng</h2>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thông tin đơn hàng</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DateOrder)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DateOrder)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.AddressDeliverry)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AddressDeliverry)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TotalAmount)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PaymentMethod)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PaymentMethod)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DeliveryDate)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.TrackingNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TrackingNumber)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PaymentStatus)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PaymentStatus)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ShippingCost)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ShippingCost)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Customer.NameCus)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Customer.NameCus)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Quay lại trang chính", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>